.payment{
    background-color: white;
    a{
        color: black ;
    }
   .payment_wrapper{
     h1 {
        text-align: center;
        padding: 10px;
        font-weight: 400;
        background-color: rgb(234,237,237);
     border-bottom: 1px solid gray;
    }
    .payment__section{
        display: flex;
        padding: 20px;
        margin: 0 20px;
        border-bottom: 1px solid lightgray;
        h2{
            text-align: center;
        }
        .payment__title{
            flex: 0.2;
        }
        .payment__address, .payment__item{
            flex: 0.8;
        }
        .paystack{
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            padding: 5px 20px;
            color: black;
            text-transform: capitalize;
            font-size: 1.5rem;
            margin: 0 auto;
            flex-direction: column;
          span{
                margin-bottom: 30px;
                display: block;
                font-weight:bold ;
            }
            .pay{
               padding: 20px 30px;
               cursor: pointer;
               border: 0px;
               text-transform: capitalize;
               font-weight: bolder;
               font-size: 1.2rem;
               background-color: var(--button-color)
            }
        }
    }
   }
}

