.product{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    margin: 10px 30px; 
    min-width: 100px;
    z-index: 3;
    background-color: white;
    .product__info{
        margin-bottom: 15px;
        height: 100px;
        font-size: 1.2rem;
      
  .product__title{
      width: 100%;
      margin: 5px 0;
  }
        span{
            color: darkgoldenrod;
        }
    }
    img{
       
        max-height: 200px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 15px;
        object-fit: contain;
    }
    button{
        background: var(--button-color);
        margin-top: 15px;
        border: 1px solid;
        color: #111;
        width: max-content;
        margin: 0 auto;
        padding: 10px 20px;
        border-color: #a88734 #9c7e31 #846a29;
        text-transform: capitalize;
        cursor: pointer;
    }
}