.home__container{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
 .home__background{
     width: 100%;
     margin-bottom: -40vh;
     height: 90vh;
     mask-image: linear-gradient(to bottom,rgba(0,0,0,1), rgba(0,0,0,0));
 }
 .home__row{
     display: flex;
     z-index: 2;
     width: 100%;
     margin-bottom: 10px;
    column-gap: 10px;
 }
}